.git
.gitee
.svn
doc
项目文件
**/bin
**/obj
**/.vs
**/.vscode
**/publish
**/logs
**/node_modules
**/dist
**/.DS_Store
JC4420260309.zip
docker/mysql/mysql
docker/redis/data
docker/redis/logs
docker/minio
docker/tdengine
