@media screen and (min-device-width: 960px) {
	.main-content {
		width: 480px;
	}
}
@media screen and (min-width: 320px) and (max-width: 960px){
	.main-content {
		width: 320px;
	}
}
@media screen and (max-width: 320px) {
	.main-content {
		width: 320px;
	}
}