<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Boxline PDA</title>

	<link rel="stylesheet" href="../../layui/css/layui.css" />
	<link rel="stylesheet" href="../../css/style.css" />
	<script src="../../js/adaptive.js"></script>
	<link rel="stylesheet" href="../../css/my.css" />
	<link rel="stylesheet" href="../../css/adapter.css" />
	<style type="text/css">
		/* 遮罩层 */
		#overlay {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			font-size: 16px;
			/* IE9以下不支持rgba模式 */
			background-color: rgba(0, 0, 0, 0.5);
			/* 兼容IE8及以下 */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
			display: none;
		}

		/* 弹出框主体 */
		.popup {
			background-color: #ffffff;
			max-width: 400px;
			min-width: 200px;
			height: 180px;
			border-radius: 5px;
			margin: 100px auto;
			text-align: center;
		}

		/* 弹出框的标题 */
		.popup_title {
			height: 30px;
			line-height: 30px;
			border-bottom: solid 1px #cccccc;
		}

		/* 弹出框的内容 */
		.popup_content {
			height: 20px;
			line-height: 20px;
			padding: 5px 10px;
		}

		/* 弹出框的按钮栏 */
		.popup_btn {
			padding-bottom: 5px;
		}

		.out-scatter-num .local-ok button {
			margin-left: 0;
		}

		/* 弹出框的按钮 */
		.popup_btn button {
			color: #778899;
			width: 40%;
			height: 40px;
			cursor: pointer;
			border: solid 1px #cccccc;
			border-radius: 5px;
			margin: 5px 10px;
			color: #ffffff;
			background-color: #337ab7;
		}
	</style>
</head>

<body>
	<div class="main-content">
		<div class="layout-title">
			<table>
				<tr>
					<td class="img-back"><a href="../../index.html"><img src="../../assets/back.jpg"></a></td>
					<td class="title-text" lang>验收组托</td>
					<td class="title-menu-icon"><img id="menuImg" src="../../assets/menu.jpg"></td>
				</tr>
			</table>
		</div>
		<div class="layout-sub-content">
			<div id="menuList" class="menu">
				<ul class="" style="text-align: center;">
					<li><a href="../../index.html" lang>主页</a></li>
					<li><a href="../../login.html" lang>重新登录</a></li>
				</ul>
			</div>

			<div class="layout-bill-info">
				<form class="layui-form">
					<div class="layui-form-item layout-dropdownlist">
						<label class="layui-form-label" lang>验收单：</label>
						<div class="layui-input-block" id="selectDiv">
							<select id="bar" lay-filter="getbar" lay-search>
								<option value=""></option>
							</select>
							<img src="../../assets/down_arraw.png">
						</div>
					</div>
					<div class="layui-form-item layout-input">
						<label class="layui-form-label" lang>载具条码：</label>
						<div class="layui-input-block">
							<input id="STOCKCODE" type="text" lay-verify="stock" lang langholder placeholder="请扫描载具条码"
								maxlength="8" 
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layout-input">
						<label class="layui-form-label" lang>血浆条码：</label>
						<div class="layui-input-block">
							<input id="BOXCODE" type="text" lay-verify="required" lang langholder placeholder="请扫描血浆条码"
								maxlength="13" 
								oninput="this.value = this.value.replace(/[^\d]/g, '')"
								autocomplete="off" class="layui-input">
						</div>
					</div>

					<table class="layout-tbl-input">
						<tr>
							<td>
								<div class="layui-form-item layout-boxinfo">
									<label class="layui-form-label" lang>物料编号：</label>
									<div class="layui-input-block">
										<input id="MaterialCode" type="text" lay-verify="" disabled class="layui-input">
									</div>
								</div>
							</td>
							<td>
								<div class="layui-form-item layout-boxinfo">
									<label class="layui-form-label" lang>物料名称：</label>
									<div class="layui-input-block">
										<input id="MaterialName" type="text" lay-verify="" disabled class="layui-input">
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="layui-form-item layout-boxinfo">
									<label class="layui-form-label" lang>物料批次：</label>
									<div class="layui-input-block">
										<input id="LotNo" type="text" lay-verify="" disabled class="layui-input">
									</div>
								</div>
							</td>
							<td>
								<div class="layui-form-item layout-boxinfo">
									<label class="layui-form-label" lang>袋内数量：</label>
									<div class="layui-input-block">
										<input id="qty" type="text" lay-verify="" disabled class="layui-input">
									</div>
								</div>
							</td>
						</tr>
					</table>

					<table class="layout-tbl-submit">
						<tr>
							<td>
								<button id="btnScanBox" class="layout-btn layout-btn-blue" lang
									type="button">扫描条码</button>
							</td>
						</tr>
					</table>
					<!-- <div id="overlay">
						<div class="popup">
							<p class="popup_title">重量：</p>
							<div class="layui-form-item"
								style="padding-left: 40px;padding-top:10px;padding-bottom: 10px;">
								<label class="layui-form-label" style="font-size: 15px;">重量：</label>
								<div class="layui-input-block">
									<input class="popup_content" id="Weight">
								</div>
							</div>
							<div class="popup_btn">
								<button class="cancelBtn" id="cancelBtn">取消</button>
								<button class="confirmBtn" id="confirmBtn">确认</button>
							</div>
						</div>
					</div> -->
				</form>
			</div>

			<div class="cut-line">
				<img src="../../assets/fengexian.png">
			</div>

			<div class="layout-tbl-paging">
				<div class="tbl-title">
					<table class="layout-tbl-input" border="0">
						<tr>
							<td>
								<div class="layout-boxinfo">
									<label class="layui-form-label" lang style="width: 30%;">载具号</label>
									<div class="layui-input-block" style="width: 70%;">
										<input id="palletCode" type="text" disabled lay-verify="required"
											autocomplete="off" class="layui-input"
											style="margin-left: -35px;width: 100%;">
									</div>
								</div>
							</td>
							<td>
								<div class="layout-boxinfo">
									<label class="layui-form-label" style="color: #FF0000" lang>袋子数量：</label>
									<div class="layui-input-block">
										<input id="boxNum" type="text" disabled lay-verify="required" autocomplete="off"
											class="layui-input">
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<table id="tableBoxList" class="tbl-box-list" border="" cellspacing="" cellpadding="">
					<tr>
						<th lang>条码</th>
						<th lang>名称</th>
						<th lang>数量</th>
						<th lang>操作</th>
					</tr>
					<tr id="boxCell" style="display: none">
						<td name="boxcode">AG000001</td>
						<td name="name">疫苗名称名称名称</td>
						<td name="num">30</td>
						<td name="del">
							<div class="tbl-btn-del" lang>
								删除
							</div>
						</td>
					</tr>
				</table>

				<!-- 分页 -->
				<table id="tableBoxPages" class="tbl-box-pages" border="" cellspacing="" cellpadding="">
					<tr>
						<td class="page-prev" lang>上一页</td>
						<td class="page-num page-num-select">1</td>
						<td class="page-num">2</td>
						<td class="page-num">3</td>
						<td class="page-num">4</td>
						<td class="page-num">5</td>
						<td class="page-next" lang>下一页</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
	<script src="../../js/jquery-3.5.1.min.js"></script>
	<script src="../../layui/layui.js"></script>
	<script src="../../js/public.js"></script>
	<script src="../../js/language.js"></script>
	<script src="../../js/jquery.cookie.js"></script>
	<script>
		layui.use(['form', 'jquery'], function () {
			var form = layui.form
			var curPageIndex = 1,
				table = layui.table,
				layer = layui.layer,
				uid = $.cookie('userName');
			function showPopup() {
				var overlay = document.getElementById("overlay");
				overlay.style.display = "block";
			}
			function hidePopup() {
				var overlay = document.getElementById("overlay");
				overlay.style.display = "none";
			}
			$("#selectDiv").click(function () {
				var input = $('select[id="bar"]').next().find('.layui-select-title input')
				var val = input.val()
				//先更新一下入库单
				updateBillList(function (data) {
					$('select[id="bar"]').next().addClass('layui-form-selected')
					$('select[id="bar"]').next().find('.layui-select-title input').val(val)
				})
			})
			//更新入库单
			function updateBillList(callback) {
				var input = $('select[id="bar"]').next().find('.layui-select-title input')
				var val = input.val()
				$("#bar").empty()
				$("#bar").append('<option value =>' + '</option>');
				form.render('select');

				var param = {
					Status:'1'
				};
				sendData(IP + "/Import/GetWmsInspectNotities", param, 'post', function (res) {
					if (res.code == 1) { //成功
						for (var i = 0; i < res.data.length; i++) {
							$("#bar").append('<option value =' + res.data[i].Id + '>' + res.data[i].InspectBillCode +'</option>');
						}
						form.render('select');
						if (!val) {
							$('#bar').siblings("div.layui-form-select").find('dl').find('.layui-select-tips').addClass('layui-this')
						} else {
							var sel = 'dd[lay-value=' + val + ']';
							$('#bar').siblings("div.layui-form-select").find('dl').find(sel).addClass('layui-this')
						}
						callback(res.data)
					} else { //不成功
					}
				});
			}
			function clear() {
				$("#MaterialCode").val("");
				$("#MaterialName").val("");
				$("#LotNo").val("");
				$("#ImportQty").val("");
				$("#qty").val("");
			}

			//是否存在某个入库单
			function hasBill(list, billcode) {
				for (var i = 0; i < list.length; i++) {
					if (list[i].InspectBillCode == billcode) {
						return true
					}
				}
				return false
			}

			function getBar(selectedvalue) {

				if (selectedvalue) {
					var param = {
						ImportId: selectedvalue,
					};

					//获取入库单详情
					var param = {
						"InspectBillCode": selectedvalue
					}

				} else {
				}
			}
			form.on('select(getbar)', function (data) {
				getBar(data.value);
			});

			$("#menuImg").click(function (e) {
				e.stopPropagation()

				if ($("#menuList").is(":hidden")) {
					$("#menuList").show()
				} else {
					$("#menuList").hide()
				}
			})
			$('body').click(function () {
				$("#menuList").hide()
			})

			$('#btnScanBox').click(function () {
				if ($("#BOXCODE").val() == "" || $("#BOXCODE").val() == null || $("#BOXCODE").val() == undefined) {
					layer.msg("请输入箱码!", {
						icon: 2,
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					}, function () { });
					return;
				}
				checkBoxInfo();
			})

			function refreshTable() {
				//先清空一下箱子列表
				let trs = $("#tableBoxList tr")
				let len = trs.length
				for (i = len - 1; i >= 2; i--) {
					trs[i].remove();
				}
				//设置载具号
				$("#palletCode").val($.cookie('stockCode'))
				var param = {
					stockCode: $.cookie('stockCode'),
					type: "1",
					billType: "1"
				};
				sendData(IP + "/wmsPda/getStockSoltBoxInfo", param, 'post', function (res) {
					const result = res.result || {};
					if (res.code === 200 && (result.success !== false)) { //成功
						var list = result.items || result.data || [];
						$("#boxNum").val(list.length)
						var arrTrs = new Array()
						let idx = 0
						for (var i in list) {
							var tr = $("#boxCell").eq(0).clone();
							tr.appendTo("#tableBoxList");
							const rowId = list[i].BoxCode ?? list[i].boxCode ?? ("row-" + i);
							tr.attr('id', rowId)
							idx++;
							tr.attr('index', idx)
							tr.find("td[name='boxcode']").html(list[i].BoxCode ?? list[i].boxCode ?? '');
							tr.find("td[name='name']").html(list[i].MaterialName ?? list[i].materialName ?? '');
							tr.find("td[name='num']").html(list[i].Qty ?? list[i].qty ?? 0);
							var code = list[i].BoxCode
							tr.find("td[name='del']").click(function () {
								var elem = $(this).parent()
								var boxcode = elem.attr('id')
								layer.alert("确定要删除这个血袋吗？<br>" + boxcode, {
									icon: 2,
									time: 0, //2秒关闭（如果不配置，默认是3秒）
									btn: ['删除', '取消'],
									yes: function (index) {
										layer.close(index)

										var removeParam = {
											palletCode: $.cookie('stockCode'),
											boxCode: boxcode,
											user: uid,
											type: 'ys'
										};
										sendData(IP + "/wmsPda/removeBoxHolds", removeParam, 'post', function (res) {
											if (res.code === 200 && res.result && res.result.success !== false) { //成功
												const okMsg = res.result.message || res.msg || '操作成功';
												layer.msg(okMsg, {
													icon: 1,
													time: 1000 //2秒关闭（如果不配置，默认是3秒）
												}, function () {
												});
												elem.remove()
												refreshTable();
											} else { //不成功
												const errMsg = res.msg || res.message || (res.result && res.result.message) || '删除失败';
												layer.msg(errMsg, {
													icon: 2,
													time: 2000 //2秒关闭（如果不配置，默认是3秒）
												}, function () { });
											}
										});
									}
								})
							})
							tr.show();
							arrTrs[i] = tr
						}

						//设置分页
						setPages(1, list.length)
					} else { //不成功
						$("#boxNum").val(0)
						setPages(1, 0)
						const errMsg = res.msg || res.message || result.message || '获取托盘信息失败';
						layer.msg(errMsg, { icon: 2, time: 2000 });
					}
					$("#boxCnt").html("当前载具上的箱子数量：" + ($.isArray(result.items) ? result.items.length : 0))
				});
			}

			//设置分页
			function setPages(pageIndex, boxNum) {
				if (boxNum <= 0) {
					$("#tableBoxPages").hide()
					return
				}

				let pageNum = Math.floor(boxNum / 10);
				if (boxNum % 10 > 0) {
					pageNum += 1;
				}

				$("#tableBoxPages").find("tr").remove()
				let table = $("#tableBoxPages")
				$("<tr></tr>").appendTo("#tableBoxPages")
				$("<td id='prevPage' class='page-prev'>上一页</td>").appendTo("#tableBoxPages tr")
				$("#tableBoxPages tr").eq(0).find("td[id^='prevPage']").click(function () {
					onClickPrevPage()
				})
				for (i = 1; i < pageNum + 1; i++) {
					$("<td class='page-num'>" + i + "</td>").appendTo("#tableBoxPages tr")
				}
				$("<td id='nextPage' class='page-next'>下一页</td>").appendTo("#tableBoxPages tr")
				$("#tableBoxPages tr").eq(0).find("td[id^='nextPage']").click(function () {
					onClickNextPage()
				})
				$("#tableBoxPages").show()

				setCurPage(1)
			}

			//设置当前分页
			function setCurPage(pageIndex) {
				let totalTrNum = $("#tableBoxList tr").length
				if (totalTrNum <= 2) {
					return
				}

				let pageNum = getBoxPageNum()
				if (pageIndex > pageNum) {
					return
				}

				let startIndex = (pageIndex - 1) * 10 + 1
				let n = totalTrNum - startIndex
				let endIndex = 0
				if (n > 9) {
					endIndex = startIndex + 9
				} else {
					endIndex = startIndex + n
				}
				let trs = $("#tableBoxList tr")
				let d = 0
				for (let i = 2; i < trs.length; i++) {
					let t = trs.eq(i)
					d = t.attr('index')
					if (d >= startIndex && d <= endIndex) {
						//显示行
						t.show()
					} else {
						//隐藏行
						t.hide()
					}
				}

				curPageIndex = pageIndex

				let ptr = $("#tableBoxPages tr")
				for (let i = 1; i < pageNum + 1; i++) {
					ptr.eq(0).find("td").eq(i).removeClass("page-num-select")
					if (i == curPageIndex) {
						ptr.eq(0).find("td").eq(i).addClass("page-num-select")
					}
				}
			}

			function onClickPrevPage() {
				if (curPageIndex == 1) {
					return
				}
				setCurPage(curPageIndex - 1)
			}

			function onClickNextPage() {
				let n = getBoxPageNum()
				if (curPageIndex == n) {
					return
				}
				setCurPage(curPageIndex + 1)
			}

			function getBoxPageNum() {
				let num = $("#tableBoxList tr").length
				if (num <= 2) {
					return 0
				}

				let pageNum = Math.floor(num / 10);
				if (num % 10 > 0) {
					pageNum += 1;
				}

				return pageNum
			}

			//检查载具状态
			function checkPalletStat() {

				var param = {
					palletCode: $("#STOCKCODE").val()
				}
				sendData(IP + "/wmsPda/getPalnoStatus", param, 'post', function (res) {
					if (res.code === 200 && res.result && res.result.valid) { //成功
						$.cookie('stockCode', $("#STOCKCODE").val());
						$("#STOCKCODE").val() == "";
						refreshTable()
						$("#BOXCODE").focus();
					} else { //不成功
						const errMsg = res.msg || res.message || (res.result && res.result.message) || '载具无效';
						layer.msg(errMsg, { icon: 2, time: 2000 });
					}
				});
			}

			//当载具条码输入框失去焦点时,检查一下载具状态
			$("#STOCKCODE").blur(function () {
				if ($("#STOCKCODE").val() == "") {
					return
				}

				checkPalletStat()
			})

			$("#STOCKCODE").keydown(function (e) {
				if (e.keyCode === 13) {
					if ($("#STOCKCODE").val() == "") {
						return
					}
					//检查载具状态
					checkPalletStat();
				}
			});

			//检查箱子信息
			function checkBoxInfo() {
				 
				var param = {
					palletCode: $("#STOCKCODE").val(),
					boxCode: $("#BOXCODE").val(),
					importId: $("#bar").val(),
					user: uid,
					type: "1"
				}
				sendData(IP + "/wmsPda/getImportInfoByBoxCode", param, 'post', function (res) {
					if (res.code === 200 && res.result && res.result.success !== false) { //成功
						const data = res.result.box || res.result.data || {};
						const inspectBillCode = data.ImportBillCode ?? data.InspectBillCode ?? data.OrderNo ?? '';
						updateBillList(function (list) {
							if (inspectBillCode && hasBill(list, inspectBillCode)) {
								boxId = data.BoxId ?? data.Id ?? boxId;
								$("#MaterialCode").val(data.MaterialCode ?? data.materialCode ?? '');
								$("#MaterialName").val(data.MaterialName ?? data.materialName ?? '');
								$("#LotNo").val(data.LotNo ?? data.lotNo ?? '');
								$("#ImportQty").val(data.ImportQuantity ?? data.importQuantity ?? data.ImportQty ?? '');
								$("#qty").val(data.Quantity ?? data.qty ?? '');
								$('select[id="bar"]').next().find('.layui-select-title input').val(inspectBillCode)
								getBar(inspectBillCode);
								BackConfirm();
							} else {
								$('select[id="bar"]').next().find('.layui-select-title input').val('')
								layer.msg("未找到箱码对应的验收单", {
									icon: 2,
									time: 3000
								})
							}
						})
					} else { //不成功
						const errMsg = res.msg || res.message || (res.result && res.result.message) || '查询失败';
						layer.msg(errMsg, {
							icon: 2,
							time: 2000 //2秒关闭（如果不配置，默认是3秒）
						}, function () {
							//回调
							boxId = 0;
							$("#MaterialCode").val("");
							$("#MaterialName").val("");
							$("#LotNo").val("");
							$("#ImportQty").val("");
							$("#qty").val("");
							//$("#STOCKCODE").val("")
							$("#BOXCODE").val("");
							$("#BOXCODE").focus();
						});
					}
				});
			}
			var boxId = 0;
			$("#BOXCODE").keydown(function (e) {
				if (e.keyCode === 13) {
					if ($("#BOXCODE").val() == "") {
						return
					}
					checkBoxInfo()
				}
			});
			form.on('submit(formBind)', function (data) {
				 
				BackConfirm(data);
			});

			//检查箱子信息
			function BackConfirm(data) {
				let bval = $('select[id="bar"]').next().find('.layui-select-title input').val()
				if (!bval) {
					layer.msg('请选择入库单', {
						icon: 2,
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					});
					return;
				}
				if (!$("#STOCKCODE").val()) {
					layer.msg('请扫描载具条码', {
						icon: 2,
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					});
					return;
				}
				if (!$("#BOXCODE").val()) {
					layer.msg('请扫描外箱条码', {
						icon: 2,
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					});
					return;
				}
				// if (!$("#MaterialCode").val()) {
				// 	layer.msg('物料编号不能为空', {
				// 		icon: 2,
				// 		time: 2000 //2秒关闭（如果不配置，默认是3秒）
				// 	});
				// 	return;
				// }
				var param = {
					orderNo: bval,
					palletCode: $("#STOCKCODE").val(),
					boxCode: $("#BOXCODE").val(),
					materialCode: $("#MaterialCode").val(),
					lotNo: $("#LotNo").val(),
					weight: $("#Weight").val(),
					qty: $("#qty").val(),
					importId: $("#bar").val(),
					type: 1,
					user: uid
				}
				sendData(IP + "/wmsPda/backConfirm", param, 'post', function (res) {
					if (res.code === 200 && res.result && res.result.success !== false) { //成功 
						const okMsg = res.result.message || res.msg || '操作成功';
						layer.msg(okMsg, {
							icon: 1,
							time: 1000 //2秒关闭（如果不配置，默认是3秒）
						}, function () {
							$("#MaterialCode").val("");
							$("#MaterialName").val("");
							$("#LotNo").val("");
							$("#qty").val("");
							$("#BOXCODE").val('');
							$("#BOXCODE").focus();
							//hidePopup();
							refreshTable();
						});
					} else { //不成功
						const errMsg = res.msg || res.message || (res.result && res.result.message) || '绑定失败';
						layer.msg(errMsg, {
							icon: 2,
							time: 2000 //2秒关闭（如果不配置，默认是3秒）
						}, function () {
							//回调
						});
					}
				});
				return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			}
			$("#confirmBtn").click(function () {
				event.preventDefault();
				BackConfirm();
			})
			$("#cancelBtn").click(function () {
				event.preventDefault();
				hidePopup();
			})
		})
	</script>
</body>

</html>